@import 'vendor/perfect-scrollbar/perfect-scrollbar';
@import 'vendor/bootstrap/bootstrap/variables';
@import 'variables';

$org-chart-text-color: #5c5d5e;
$org-chart-text-color-muted: #777;
$org-chart-line-color: #c9c9c9;
$org-chart-profile-bg: #fff;
$org-chart-profile-border: #efefef;
$org-chart-container-bg: #f9f9f9;
$org-chart-span-of-control-text-color: #006400;
$ps-rail-default-opacity: 0.8;

.org-chart-container {
  background: $org-chart-profile-bg;
  position: relative;
  overflow-x: scroll;
  padding: 25px;
  padding-top: 15px;
  color: $org-chart-text-color;
  font-size: 10px;
  margin-left: -25px;
  margin-right: -25px;

  li {
    position: relative;
    text-align: left;
  }

  li:not(:last-child) {
    &::before {
      position: absolute;
      top: -31px;
      left: -46px;
      content: '';
      display: inline-block;
      height: 100%;
      border-left: 2px solid $org-chart-line-color;
    }
  }

  li:last-child {
    &::before {
      position: absolute;
      top: -31px;
      left: -46px;
      content: '';
      display: inline-block;
      height: 64px;
      border-left: 2px solid $org-chart-line-color;
    }
  }

  > .tree {
    display: block;
    position: relative;
    line-height: 15px;
    padding-left: 50px;

    > ul > li:first-child {
      &::before {
        display: none;
      }
    }
  }
}

.employee-profile {
  position: relative;
  display: inline-block;
  background: $org-chart-profile-bg;
  border: 1px solid $org-chart-profile-border;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;

  .employee-name {
    display: block;
  }

  .employee-title {
    display: block;
    color: $org-chart-text-color-muted;
    font-style: italic;
  }

  .employee-span-of-control {
    display: block;
    color: $org-chart-span-of-control-text-color;
  }

  &::before {
    position: absolute;
    top: -42px;
    left: -50px;
    content: '';
    display: block;
    border-bottom: 2px solid $org-chart-line-color;
    width: 50px;
    height: 64px;
  }
}

.node {
  &.has-tree {
    cursor: pointer;

    .employee-profile {
      border: 1px solid $color-light-purple;
      box-shadow: 1px 1px 10px -7px $color-light-purple;
    }

    &.is-expanded {
      .employee-profile {
        border: 1px solid $org-chart-profile-border;
        box-shadow: 1px 1px 10px -7px $team-content-color;
      }
    }
  }
}
