.h2 Workflows
- pages.each do |category, workflow_pages|
  .col-xs-6.col-centered
    %h4.clearfix
      %i.far.fa-folder-open.fa-fw.text-muted
      %small.pull-right
        %i.far.fa-hdd.fa-fw
        #{workflow_pages.count}
      #{category}
      %a{:name=> "#{category}" }
    - workflow_pages.each do |page|
      %ul.fa-ul
        %li
          %i.fa-li.far.fa-list-alt.fa-fw.text-muted
          %h5
            = link_to page.data.title, "/" + page.path

